// 项目提供scss全局变量
// 左侧的菜单的宽度
$base-menu-width: 260px;

// 左侧菜单的背景颜色
$base-menu-background: #002529;

// 顶部tab栏高度
$base-tabbar-height: 50px;

// logo 的高度
$base-menu-logo-height: 50px;

// logo 文字大小
$base-logo-title-fontsize: 20px;
